.section-about{
    padding: 25rem 0;
    margin-top: -20vh;
    background:$color-grey-light;
    z-index: 10;
    
}
 
//should be experience
.section-projects {
    padding: 20rem 0;
    background-image: linear-gradient(to right,$color-primary-light,$color-black);
    background-size: cover;
    background-position: top;
    transform: skewY(-7deg);
    margin-top:-10rem;
    z-index:5;

  
    & > * {
        transform:skewY(7deg)
    }
    @include respond(tab-port){
        padding:10rem;
    }
}

.section-work {
    padding:5rem 0;
   
    background-color:$color-grey-light;

    @include respond(tab-port){
        padding-bottom:5rem;
    }
}

.section-skills {
    padding: 20rem 0;
    background-image: linear-gradient(to right,$color-primary-light,$color-black);
    background-size: cover;
    background-position: top;
    transform: skewY(-7deg);
    margin-top:-10rem;
    z-index:5;

  
    & > * {
        transform:skewY(7deg)
    }
    @include respond(tab-port){
        padding:5rem;
    }
}

.section-project {
    background:$color-grey-light;
    padding: 25rem 0 20rem 0;
    margin-top: -20rem;

    @include respond(tab-port){
        padding-bottom:5rem;
    }
         
}

.section-contact {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom,rgba($color-primary-light, 0.8),rgba($color-primary, 0.8));


}

.section-contact {

    padding: 10rem 0;
    background-image: linear-gradient(to right,$color-primary-light,$color-black)

}

.contact {
    background-image: linear-gradient(105deg,
        rgba($color-white,.9) 0%,
        rgba($color-white,.9) 50%,
        transparent 50%),
        url('../../static/contact.jpg');
    background-size: cover;
    
    background-repeat: no-repeat;
    // height: 60rem;
    border-radius: 3px;
    box-shadow: 0px 3rem 6rem;

    @include respond(tab-land){
        background-image: linear-gradient(105deg,
        rgba($color-white,.9) 0%,
        rgba($color-white,.9) 70%,
        transparent 70%),
        url('../../static/contact.jpg');
    
        
    }
    @include respond(tab-port){
        background-image: linear-gradient(to right,
        rgba($color-white,.9) 0%,
        rgba($color-white,.9) 100%),
        url('../../static/contact.jpg');
    
        
    }

    &-form {
        width:50%;
        padding:6rem;

        @include respond(tab-land){
            width:70%;
        }
        @include respond(tab-port){
            width:100%;
        }
    }

   

}