$color-primary: #3e4140;
$color-primary-light:#9da09d;
$color-grey-light:#e5e7e5;

$color-black: black ;
$color-white: white;

$color-grey:#777;


$color-purple-1: #6954ea;
$color-purple-2:#291d79;

//font
$default-font:1.6rem;


//GRID

$grid-width: 120rem ;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
