
$color-primary: #3e4140;
$color-primary-light:#9da09d;
$color-grey-light:#e5e7e5;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-3:#777;

// $color-primary:#369ff4;
// $color-primary-light: #cee9f4;
$color-grey-light:#e5e7e5;

$color-black: black ;
$color-white: white;

$color-grey:#777;


$color-purple-1: #6954ea;
$color-purple-2:#291d79;

$color-blue-1:#0070eb;
$color-blue-2:#0070eb;

$color-blackish-1:rgb(152, 228, 152);
$color-blackish-2:#043f17;

//font
$default-font:1.6rem;


//GRID

$grid-width: 120rem ;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
