.work {
    width:85%;
    margin:0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black,.1);
    background-color: $color-white;
    padding:3rem;
    border-radius: 3px;
    font-size: $default-font;
    @include clear-fix;

    @include respond(tab-port){
        width:100%;
        padding:1rem;
    }

    &__company {
        float:left;
        width:40%;
        // height:20rem;
        
        text-align: center;
        padding:3rem;
        @include respond(tab-port){
            width:100%;
            float:none;
        }
    }

    &__detail {
        
        width:60%;
        float:right;
        @include respond(tab-port){
            width:100%;
            float:none;
            padding:1rem;
        }
        &_headers{
            padding-bottom:2rem;
            @include clear-fix;
            &-role{
                float:left;
                width:50%;
                @include respond(tab-port){
                    width:100%;
                    text-align:center;
                }
            }
            &-date{
                float:right;
                width:50%;
                text-align: right;
                @include respond(tab-port){
                    width:100%;
                    text-align:center;
                }
            }

            
        }
            
        
    }
}