@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* reset */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Global sstyling */
* {
    margin:0;
    padding:0;
    box-sizing: inherit;
    
}

html {
    font-size:62.5%;
}

body {
    font-family:'Lato', sans-serif;
   
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;

}

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

.header {
    background-image: linear-gradient(to right bottom,rgba(157, 160, 157, 0.8),rgba(62, 65, 64, 0.8)),url('./static/bg_portfolio.jpg');
    background-size: cover;
    height: 95vh;
    /* background-repeat: cover; */
    background-position: center left;
    position: relative;
    clip-path: polygon(0 0, 100% 0,100% 75vh,0 100%);
                        
}

.logo-container {
    position: absolute;
    top: 4rem;
    left: 4rem;

}

.logo {
    height:3.5rem;
}

.text-box {
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.heading-primary{
    color:#fff;
    text-transform: uppercase;
    backface-visibility:hidden;
    margin-bottom: 4rem;
    
}

.heading-primary-main{
    display:block;
    font-size: 4rem;
    font-weight:400;
    letter-spacing: 1.4rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

}
.heading-primary-sub{
    display:block;
    font-size:2rem;
    font-weight:700;
    letter-spacing: 1rem;
    animation: moveInRight 1s ease-out;

}

@keyframes moveInLeft {
    0% {
        opacity:0;
        transform: translateX(-10rem);
        
        
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity:1;
        transform: translate(0);

    }
}


@keyframes moveInRight {
    0% {
        opacity:0;
        transform: translateX(1rem);
        
        
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity:1;
        transform: translate(0);

    }
}
@keyframes moveInBottom {
    0% {
        opacity:0;
        transform: translateY(3rem);
        
        
    }

   

    100% {
        opacity:1;
        transform: translate(0);

    }
}

.btn:link,.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius:10rem;
    transition: all .2s;
    position:relative;
    font-size:1.6rem;
  
   
}
.btn-white {
    background-color: #fff;
    color:#777;
    padding:1rem 4rem;
}
.btn:hover {
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    transform: translateY(-.3rem);

}

.btn:active {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    transform: translateY(-.1rem);
}

.btn::after {
    content:'';
    display:inline-block;
    height:100%;
    width:100%;
    top:0;
    left:0;
    position:absolute;
    z-index: -1;
    border-radius:10rem;
    transition:all .4s;
}

.btn-white::after{
    background-color: #fff;
}

.btn:hover:after {
    transform:scaleX(1.4) scaleY(1.6);
    opacity:0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}